
.About-container {
  box-sizing: border-box;
  padding: 6.5rem 11rem 6.5rem 11rem;
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.About-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.About-title {
  color: var(--purple);
  margin-bottom: 3rem;
}

.About-title h2 {
  font-size: 1.7rem;
  padding: 0 0 0.3rem 0;
  margin: 0;
  border-bottom: 3px solid var(--purple);
}

.About-image {
  background: url("../../public/images/yoo.jpg");
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-size: cover;
  background-position-y: 21%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: absolute;
  top: -4rem;
  right: -4rem;
}

.About-text {
  box-sizing: border-box;
  width: 60%;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.About-text p {
  margin: 0;
  font-weight: 500;
}

.About-text p span {
  color: var(--purple);
}

.About-text h3 {
  margin: 0;
  margin-right: 4rem;
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1400px) {
  .About-container {
    padding: 6.5rem 1.5rem 6.5rem 1.5rem;
  }
  .About-image {
    width: 8rem;
    height: 8rem;
    margin: 0 0 1.5rem 0;
    top: -3rem;
    right: -3rem;
  }
  .About-text {
    width: 37rem;
  }
  .About-text h3 {
    font-size: 1.5rem;
    margin-right: 2rem;
  }
  .About-text p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1070px) {
  .About-container-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .About-text h3,
  .About-text p {
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  .About-container {
    padding: 6.5rem 4.5rem;
  }
  .About-text {
    width: 100%;
  }
  .About-text h3 {
    margin-right: 5rem;
  }
}

@media only screen and (max-width: 500px) {
  .About-container {
    padding: 6.5rem 1.5rem;
  }
  .About-title h2 {
    font-size: 1.3rem;
  }
  .About-image {
    width: 3rem;
    height: 3rem;
    top: 1rem;
    right: 2rem;
  }
  .About-text h3 {
    font-size: 1rem;
    margin-right: 5rem;
  }
  .About-text p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 460px) {
  .About-image {
    top: 2rem;
    right: 2rem;
  }
}
