.header {
  width: 100%;
  height: 4.5rem;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 11rem;
}

.nav-h2 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--purple);
  letter-spacing: 3px;
}

.nav-h2:hover{
  cursor: default;
}

.nav-ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-ul a {
  text-decoration: none;
  margin-left: 1rem;
  font-weight: bold;
  color: rgb(37, 37, 37);
  transition: color 0.1s ease;
}

.nav-ul a:hover {
  color: var(--purple);
  cursor: pointer;
}

.hamburger {
  height: 50px;
  width: 50px;
  display: none;
}

.hamburger:hover {
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  background-color: black;
  height: 4px;
  width: 32px;
  margin: 3px;
  border-radius: 10px;
}

.mobile-nav {
  width: 100vw;
  padding-top: 4.5rem;
  box-sizing: border-box;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -100vw;
  transition: transform 0.5s;
}

.mobile-nav a {
  text-align: center;
  text-decoration: none;
  color: var(--black);
  margin: 1rem 0;
  font-weight: bold;
}

.mobile-nav a:hover {
  color: var(--purple);
}

.active {
  transform: translateX(-100vw);
}

@media only screen and (max-width: 1300px) {
  .nav {
    margin: 0 6rem;
  }
}
@media only screen and (max-width: 1139px) {
  .nav {
    margin: 0 4.5rem;
  }
}
@media only screen and (max-width: 820px) {
  .nav {
    margin: 0 1rem;
  }
  .nav-ul {
    display: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 820px) {
  .mobile-nav {
    display: none;
  }
}

.firstAnimateBar1 {
  animation: flipBar1 0.5s forwards;
}
.firstAnimateBar2 {
  animation: fadeBar2 0.5s forwards;
}
.firstAnimateBar3 {
  animation: flipBar3 0.5s forwards;
}

@keyframes fadeBar2 {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes flipBar1 {
  form {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}
@keyframes flipBar3 {
  form {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}
