
.Contact-Footer-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 6.5rem;
  background-color: rgb(237, 237, 237);;
}