
body,
html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--black);
  width: 100%;
}

:root {
  --purple: rgb(84, 37, 179);
  --blue: rgb(17, 37, 218);
  --black: rgb(37, 37, 37);
}

